
$box_border_color: #563d7c;
$animate_time: 0.3s;
$timeline_color: #03507c;
$bg_color: #f7f9fa;

body {
  background-color: $bg_color;
}

.title {
  margin-top: 40px;
  font-size: 3rem;

  .title_txt {
    border-bottom: 2px #563d7c solid;
    padding: 15px;
  }
}

.subtitle {
  margin: 100px 0 0 60px;
  border-left: 20px #03507c solid;
  padding-left: 20px;
  font-size: 3rem;
}

.members_img {
  margin: 20px 40px 20px 40px;
  padding: 40px 18px;
  img {
    width: 100%;
  }
}


.framework {
  margin: 60px;
  background: $bg_color;

  .col_box, .row_box {
    display:flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
  }
  .col_pack {
    width: 100%;
  }

  .row_box {
    flex-direction: column;
    width: 100%;
  }
  .s_name {
    padding: 18px 0;
    border: 1px $box_border_color solid;
    z-index: 10;
    flex-basis: auto;
  }

  .box_hidden {
    -webkit-transition: $animate_time;
    -moz-transition: $animate_time;
    -o-transition: $animate_time;
    transition: $animate_time;

    overflow: hidden;
    max-height: 0;
    padding: 0;
    border: 0;
  }

  .col_pack:hover .box_hidden {
    max-height: 150px;
    padding: 18px 0;
    border: 1px $box_border_color solid;
  }
}

.box1 {
  flex: 2;
}
.box2, .box3 {
  flex: 1;
}


h1 {
  font-size:2em;
  text-align:center;
  margin:20px 0 40px;
  padding:0;
}
.timeline {
  font-size:18px;
  width:80%;
  margin:0 auto;
  overflow:auto;
  padding:2%;
}
.right_content, .left_content {
  float:left;
  display:block;
  width:50%;
  padding:1% 2%;
}
.left_content {
  border-right: 5px dotted $timeline_color;
  text-align: right;
}
.right_content {
   text-align: left;
 }
.left_content p {
  margin:150px 0 0;
}
.right_content p {
  margin:80px 0 150px;
}
.timeline p {
  -webkit-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.left_content .more_padding {
  padding-right:100px;
}
.right_content .more_padding {
  padding-left:100px;
}
