
// footer
.footer {
  overflow: hidden;
  width: 100%;
  background: url("../images/2.jpg") no-repeat center center;
  color: white;

  .title {
    font-size: 25px;
    padding-bottom: 10px;
  }
  .text {
    font-size: 15px;
    padding-left: 10px;
  }

  .row {
    margin: 10px 100px;
  }

  .love {
    text-align: right;
    padding: 10px 40px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 768px) {
  .footer {
    .row {
      margin: 10px 10px;
    }
    .title {
      font-size: 20px;
    }
    .text {
      font-size: 15px;
    }
  }
}
