
$content-color: #592a7a;

.container {
  padding: 0 5%;
}


// 关于我们以及下述的名字
.title {
  font-size: 25px;
  color: $content-color;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 10px;
}

p#new_prj {
  text-align: center;
}


// icon groups
.icon_group {
  margin-top: 0px;
  color: $content-color;
  text-align: center;

  img {
    width: 55%;
  }
  .icon_text {
    padding-top: 20px;
    p {
      font-size: 20px;
      padding: 2px;
      margin: 0;
    }
  }
}

// project groups
.project_group {
  margin-top: 50px;
  color: black;
  text-align: center;

  img {
    width: 100%;
  }
  .project_text {
    padding-top: 30px;
    p {
      text-align: center;
      font-size: 17px;
      padding: 2px;
      margin: 0;
    }
  }
}
.row {
  padding: 10px;
}

.flipping {
  color: rgba(0, 0, 0, 1);
  -webkit-transform: rotateX(0deg); /* Safari */
  transform: rotateX(0deg); /* Standard syntax */
  -webkit-transition: 2s; /* For Safari 3.1 to 6.0 */
  transition: 2s;
}

.flipped {
  //color: rgba(0, 0, 0, 0);
  -webkit-transform: rotateX(180deg); /* Safari */
  transform: rotateX(180deg); /* Standard syntax */
  -webkit-transition: 2s; /* For Safari 3.1 to 6.0 */
  transition: 2s;
}

// the middle texts
.middle {
  width: 100%;
  background: url("../images/1.jpg") no-repeat center center;
  margin-top: 40px;
  text-align: center;
  .middle_text {
    color: white;
    padding-top: 20px;
    #quot {
      margin: 0;
      color: #af52e9;
      font-size: 50px;
    }
    span {
      color: #af52e9;
    }
  }
  padding-bottom: 50px;
}


// the next paragraph of the middle texts
.md_next {
  background: #eee;
  padding-top: 100px;

  #saepa {
    font-size: 60px;
    color: $content-color;
    font-weight: bold;
  }
  #saepaer {
    font-size: 65px;
    color: $content-color;
  }
}


// footer
.footer {
  width: 100%;
  background: url("../images/2.jpg") no-repeat center center;
  text-align: center;
  color: white;
  padding-top: 50px;
}

.hidebf {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.cube {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.face {
  display: block;
  position: absolute;
  border: none;
}

/* Define each face based on direction */
.front {
  background: #ffffff;
  transform: translateZ(1px) translateY(-100px);
  -webkit-transform: translateZ(1px) translateY(-100px);
}

.back {
  background: #f8f9fb;
  color: #f8f9fb;
  transform: rotateY(180deg) translateZ(0px) translateY(-100px);
  -webkit-transform: rotateY(180deg) translateZ(0px) translateY(-100px);
}

.box {
 // position: relative;
  height: 200px;
  width: 200px;
}

.whitebackground {
  background: #ffffff;
}
