
$content-color: #563d7c;

.container {
  padding: 0 5%;
}

.title {
  font-size: 25px;
  color: $content-color;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 10px;
}

p#new_prj {
  text-align: center;
}

.icon_group {
  margin-top: 100px;
  color: $content-color;
  text-align: center;

  img {
    width: 55%;
  }
  .icon_text {
    padding-top: 20px;
    p {
      padding: 2px;
      margin: 0;
    }
  }
}

.middle {
  width: 100%;
  background: url("../images/1.jpg") no-repeat center center;
  margin-top: 40px;
  text-align: center;
  .middle_text {
    color: white;
    padding-top: 20px;
    #quot {
      margin: 0;
      color: #8000bb;
      font-size: 50px;
    }
    span {
      color: #8000bb;
    }
  }
  padding-bottom: 50px;
}

.md_next {
  background: #eee;
  padding-top: 100px;

  #saepa {
    font-size: 60px;
    color: $content-color;
    font-weight: bold;
  }
  #saepaer {
    font-size: 65px;
    color: $content-color;
  }
}
