
$default-fonts: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif;
$nav_line: #cecccd;
$nav_hover: #572a7b;
$nav_line_width: 3px;
$nav_line_width_solo: 3px;

// navbar
#nav_left_box {
  background-color: #563d7c;
  width: 80px;
  height: 120px;
  position: absolute;
  left: 50px;
  z-index:1;
}

#nav_right_img img {
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 1;
}

nav {
  .nav_toggle, .logo {
    display: none;
  }
  background-color: rgba(255, 255, 255, 1);
  ul {
    margin:0;
    font-family: $default_fonts;
    text-align: center;
    font-size: 0;
    padding: 20px;
    li {
      list-style-type: none;
      display: inline-block;
      border-bottom: $nav_line $nav_line_width solid;
      font-size: 20px;
      padding: 10px;
      transition: 0.6s;

      a {
        padding: 14px 0;
        &:hover,
        &:link,
        &:focus,
        &:visited {
          color: #333;
        }
      }
    }
    .normal:hover {
      border-bottom: $nav_hover $nav_line_width_solo solid;
    }
    .active {
      border-bottom: $nav_hover $nav_line_width_solo solid;
    }
  }
}

/* Responsive: Portrait tablets and up */
//@media screen and (max-width: 768px) {
//  nav ul {
//    .point {
//      display: none;
//    }
//    li {
//      display: block;
//    }
//
//    li:not(.point) {
//      display: none;
//    }
//  }
//}


@media screen and (max-width: 1000px) {
  #nav_left_box, #nav_right_img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  nav {
    .logo {
      display: block;
      position: absolute;
    }
    ul {
      padding: 0;
      .point {
        display: none;
      }
      .normal {
        padding: 0;
        width: 100vw;
        display: block;
        overflow: hidden;
        max-height: 0;
      }
      .active, .normal, .nav_toggle, .logo {
        border-bottom: 0;
      }
      .nav_toggle {
        margin: 0;
        padding: 0;
        display: inline-block;
      }
      .nav_toggle {
        float: right;
        padding: 10px;
      }

      input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
      input[type="checkbox"]:focus{
        outline: 0;
      }
      li label {
        cursor: pointer;
      }

      input + li label:after {
        content: "☰";
      }

      input:checked + li label:after {
        content: "☰";
      }

      input:checked ~ .normal {
        max-height: 150px;
        padding: 10px 0;
        border-bottom: 1px #aaa solid;
        &.active, &:hover {
          border-bottom: 1px #572A7B solid;
        }
      }
    }
  }
}
