
$default-fonts: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif;
$nav_line: #cecccd;
$nav_hover: #572a7b;
$nav_line_width: 3px;
$nav_line_width_solo: 3px;

// navbar
#nav_left_box {
  background-color: #563d7c;
  width: 80px;
  height: 120px;
  position: absolute;
  left: 50px;
  z-index:1;
}

#nav_right_img img {
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 1;
}

nav {
  background-color: rgba(255, 255, 255, 1);
  ul {
    margin:0;
    font-family: $default_fonts;
    text-align: center;
    font-size: 0;
    padding: 20px;
    li {
      list-style-type: none;
      display: inline-block;
      border-bottom: $nav_line $nav_line_width solid;
      font-size: 20px;
      padding: 10px;
      transition: 0.6s;

      &:not(.point):hover {
        border-bottom: $nav_hover $nav_line_width_solo solid;
      }

      a {
        padding: 14px 0;
        &:hover,
        &:link,
        &:focus,
        &:visited {
          color: #333;
        }
      }
    }
    .active {
      border-bottom: $nav_hover $nav_line_width_solo solid;
    }
  }
}

