
.jumb {
  width: 100%;
  background: url("../images/projects/jumb.jpg") no-repeat center center;
  text-align: center;
  background-size: cover;
  opacity: 0.9;

  .jumb_text {
    padding: 100px 0;
    font-size: 50px;
    color: #563d7c;
  }
}
