{% extends 'base.html' %}

{% block title %}SAEPA - 联系我们{% endblock %}

{% block styles %}
<!-- build:css styles/contactus.css -->
<link rel="stylesheet" href="styles/navbar.css">
<link rel="stylesheet" href="styles/stretchy-nav.css">
<link rel="stylesheet" href="styles/contactus.css">
<!-- endbuild -->
{% endblock %}

{% block content %}
<header>
  {% include 'navbar.html' %}
</header>

<div class="container">
  {% include 'stretchy-nav.html' %}

  <div class="framework cn_fonts">
    <div class="col_pack">
      <div class="col_box s_name">SAEPA</div>
      <div class="col_box s_name box_hidden">SAEPA简介</div>
    </div>
    <div class="col_box">
      <div class="row_box">
        <div class="col_pack">
          <div class="col_box s_name">项目中心</div>
          <div class="col_box s_name box_hidden">项目中心简介</div>
        </div>
        <div class="col_box">
          <div class="col_pack">
            <div class="col_box s_name">周末支教</div>
            <div class="col_box s_name box_hidden">周末支教简介</div>
          </div>
          <div class="col_pack">
            <div class="col_box s_name">梦想课堂</div>
            <div class="col_box s_name box_hidden">梦想课堂简介</div>
          </div>
          <div class="col_pack">
            <div class="col_box s_name">电脑传爱</div>
            <div class="col_box s_name box_hidden">电脑传爱简介</div>
          </div>
          <div class="col_pack">
            <div class="col_box s_name">创新工作室</div>
            <div class="col_box s_name box_hidden">创新工作室简介</div>
          </div>
        </div>
      </div>
      <div class="row_box">
        <div class="col_pack">
          <div class="col_box s_name">对外交流中心</div>
          <div class="col_box s_name box_hidden">对外交流中心简介</div>
        </div>
        <div class="col_box">
          <div class="col_pack">
            <div class="col_box s_name">设计工作室</div>
            <div class="col_box s_name box_hidden">设计工作室简介</div>
          </div>
          <div class="col_pack">
            <div class="col_box s_name">外宣部</div>
            <div class="col_box s_name box_hidden">外宣部简介</div>
          </div>
        </div>
      </div>
      <div class="row_box">
        <div class="col_pack">
          <div class="col_box s_name">人力资源中心</div>
          <div class="col_box s_name box_hidden">人力资源中心简介</div>
        </div>
        <div class="col_box">
          <div class="col_pack">
            <div class="col_box s_name">人力资源部</div>
            <div class="col_box s_name box_hidden">人力资源部简介</div>
          </div>
          <div class="col_pack">
            <div class="col_box s_name">撒爱工作室</div>
            <div class="col_box s_name box_hidden">撒爱工作室简介</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}

{% block scripts %}
<!-- build:js scripts/contactus.js -->
<script src="scripts/navbar.js"></script>
<script src="scripts/stretchy-nav.js"></script>
<script src="scripts/contactus.js"></script>
<!-- endbuild -->
{% endblock %}
