{% extends 'base.html' %}

{% block title %}SAEPA - 联系我们{% endblock %}

{% block styles %}
<!-- build:css styles/contactus.css -->
<link rel="stylesheet" href="styles/navbar.css">
<link rel="stylesheet" href="styles/stretchy-nav.css">
<link rel="stylesheet" href="styles/contactus.css">
<!-- endbuild -->
{% endblock %}

{% block content %}
<header>
  {% set index = 4 %}
  {% include 'navbar.html' with index %}
</header>

<div class="container cn_fonts">
  {% include 'stretchy-nav.html' with index %}

  <section>
    <div class="title text-center">
      <span class="title_txt">协会时间轴</span>

      <div class="timeline">
        <h1></h1>
        <div class="timeline_content">
          <div class="left_content">
            <p>Content 01</p>
            <p>Content 02</p>
            <p>Content 03</p>
            <p>Content 04</p>
            <p>Content 05</p>
            <p>Content 06</p>
            <p>Content 07</p>
            <p>Content 08</p>
            <p>Content 09</p>
            <p></p>
          </div>
          <div class="right_content">
            <p>Content 01</p>
            <p>Content 02</p>
            <p>Content 03</p>
            <p>Content 04</p>
            <p>Content 05</p>
            <p>Content 06</p>
            <p>Content 07</p>
            <p>Content 08</p>
            <p>Content 09</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="title text-center">
      <span class="title_txt">SAEPA 11.0团队</span>
    </div>
    <div class="subtitle">团队架构</div>
    <div class="framework cn_fonts">
      <div class="col_pack">
        <div class="col_box s_name">SAEPA 11.0团队</div>
        <div class="col_box s_name box_hidden">
          协会下主要设置3个中心以便于管理协会的各项工作以及事物，
          分别为项目中心、对外交流中心以及人力资源中心
        </div>
      </div>
      <div class="col_box">
        <div class="row_box box1">
          <div class="col_pack">
            <div class="col_box s_name">项目中心</div>
            <div class="col_box s_name box_hidden">项目中心简介</div>
          </div>
          <div class="col_box">
            <div class="col_pack">
              <div class="col_box s_name">周末支教</div>
              <div class="col_box s_name box_hidden">周末支教简介</div>
            </div>
            <div class="col_pack">
              <div class="col_box s_name">梦想课堂</div>
              <div class="col_box s_name box_hidden">梦想课堂简介</div>
            </div>
            <div class="col_pack">
              <div class="col_box s_name">电脑传爱</div>
              <div class="col_box s_name box_hidden">电脑传爱简介</div>
            </div>
            <div class="col_pack">
              <div class="col_box s_name">创新工作室</div>
              <div class="col_box s_name box_hidden">创新工作室简介</div>
            </div>
          </div>
        </div>
        <div class="row_box box2">
          <div class="col_pack">
            <div class="col_box s_name">对外交流中心</div>
            <div class="col_box s_name box_hidden">对外交流中心简介</div>
          </div>
          <div class="col_box">
            <div class="col_pack">
              <div class="col_box s_name">设计工作室</div>
              <div class="col_box s_name box_hidden">设计工作室简介</div>
            </div>
            <div class="col_pack">
              <div class="col_box s_name">外宣部</div>
              <div class="col_box s_name box_hidden">外宣部简介</div>
            </div>
          </div>
        </div>
        <div class="row_box box3">
          <div class="col_pack">
            <div class="col_box s_name">人力资源中心</div>
            <div class="col_box s_name box_hidden">人力资源中心简介</div>
          </div>
          <div class="col_box">
            <div class="col_pack">
              <div class="col_box s_name">人力资源部</div>
              <div class="col_box s_name box_hidden">人力资源部简介</div>
            </div>
            <div class="col_pack">
              <div class="col_box s_name">撒爱工作室</div>
              <div class="col_box s_name box_hidden">撒爱工作室简介</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="subtitle">团队成员</div>
    <div class="members_img">
      <img src="./images/contact/saepa11.0.jpg" alt="SAEPA 11.0成员合影">
    </div>

  </section>

</div>

{% endblock %}

{% block scripts %}
<!-- build:js scripts/contactus.js -->
<script src="scripts/navbar.js"></script>
<script src="scripts/stretchy-nav.js"></script>
<script src="scripts/contactus.js"></script>
<!-- endbuild -->
{% endblock %}
