{% extends 'base.html' %}

{% block title %}清华大学学生教育扶贫公益协会{% endblock %}

{% block styles %}
  <!-- build:css styles/index.css -->
    <link rel="stylesheet" href="styles/navbar.css">
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/jumbotron.css">
    <link rel="stylesheet" href="styles/nivo.css">
    <link rel="stylesheet" href="styles/stretchy-nav.css">
  <!-- endbuild -->
{% endblock %}

{% block content %}
  <header>
    {% include 'navbar.html' %}
    {% include 'jumbotron.html' %}
  </header>

  <div class="container">
    {% include 'stretchy-nav.html' %}
    <div class="icon_group cn_fonts">
      <div class="col-md-4">
        <img src="./images/5.png" alt="公益创造快乐">
        <div class="icon_text">
          <p>公益——是一门</p><p>社会必修课</p><p>—</p>
        </div>
      </div>
      <div class="col-md-4">
        <img src="./images/6.png" alt="知识改变命运">
        <div class="icon_text">
          <p>　知识改变命运，</p><p>　实践检验真知！</p><p>—</p>
        </div>
      </div>
      <div class="col-md-4">
        <img src="./images/7.png" alt="一个团队，一起努力">
        <div class="icon_text">
          <p>　一个团队，</p><p>　一起努力！</p><p>—</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="project_group cn_fonts">

      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
          <div class="project_text flipping" id="rotate0">
            <p>
              创新工作室在协会中扮演着公益孵化器、实验室和先驱者的角色。创新工作室致力于实践新的公益想法，探索公益的新领域。目前，创新工作室下属任务魔方、 直播支教、春风计划三个子项目。
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <img src="./images/创新.png" alt="创新工作室">
        </div>
        <div class="col-md-3">
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
          <img src="./images/电传.jpg" alt="电脑传爱">
        </div>
        <div class="col-md-3">
          <div class="project_text" id="rotate1">
            <p>
              在互联网与科技高速发展的今天，我们致力于“互联网+科技+公益”的公益模式的探索与推行，捐献微机室，机器人普及教育，MOOC教学……我们不断探索新的理念与新的模式，我们让高新技术不再遥远。
            </p>
          </div>
        </div>
        <div class="col-md-3">
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
          <div class="project_text cube hidebf" id="rotate2">
            <div class="face front whitebackground box">
              梦想，是给孩子最好的礼物。
            </div>
            <div class="face back box">梦想，是给孩子最好的礼物。</div>
          </div>
        </div>
        <div class="col-md-3 box">
          <img src="./images/梦课.JPG" alt="梦想课堂">
        </div>
        <div class="col-md-3">
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
          <img src="./images/周支.JPG" alt="周末支教">
        </div>
        <div class="col-md-3">
          <div class="project_text" id="rotate3">
            <p>
              用周末不长的时间，做一生难忘的事情。
            </p>
          </div>
        </div>
        <div class="col-md-3">
        </div>
      </div>

    </div>
  </div>

  <div class="middle">
    <div class="middle_text">
      <span class="en_fonts" id="quot">”</span> <br>
      <div class="cn_fonts">
        2006年，协会由主要来自2006年中美暑期支教实践活动的支队长发起，在清华大学扶贫办公室大力支持与帮助下，成立了最初的 <br>
        教育扶贫志愿者协会。<br>
        之后，在学校社团部注册时，正式更名为清华大学学生教育扶贫公益协会，<br>
        <span class="en_fonts">"Student Association of Educational Poverty Alleviation" —— SAEPA</span>
      </div>
    </div>
  </div>

  <div class="md_next">
    <div class="container">
      <div class="col-md-6 en_fonts">
        <div id="saepa">SAEPA</div>
        <div id="saepaer">SAEPAER</div>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>

  <div class="footer en_fonts">
    <p>With all the ♥ from SAEPA</p>
  </div>

{% endblock %}

{% block scripts %}
  <!-- build:js scripts/index.js -->
    <script src="scripts/navbar.js"></script>
    <script src="scripts/jumbotron.js"></script>
    <script src="scripts/nivo.js"></script>
    <script src="scripts/index.js"></script>
    <script src="scripts/stretchy-nav.js"></script>
  <!-- endbuild -->
{% endblock %}
