{% extends 'base.html' %}

{% block title %}清华大学学生教育扶贫公益协会{% endblock %}

{% block styles %}
  <!-- build:css styles/index.css -->
    <link rel="stylesheet" href="styles/navbar.css">
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/jumbotron.css">
    <link rel="stylesheet" href="styles/nivo.css">
    <link rel="stylesheet" href="styles/stretchy-nav.css">
  <!-- endbuild -->
{% endblock %}

{% block content %}
  <header>
    {% set index = 0 %}
    {% include 'navbar.html' with index %}
    {% include 'jumbotron.html' %}
  </header>

  <div class="container">
    {% include 'stretchy-nav.html' with index %}

    {% set items = [
        { url: './images/5.png', alt: '公益创造快乐', text1: '公益——是一门', text2: '社会必修课'},
        { url: './images/6.png', alt: '知识改变命运', text1: '　知识改变命运，', text2: '　实践检验真知！'},
        { url: './images/7.png', alt: '一个团队，一起努力', text1: '　一个团队，', text2: '　一起努力！'},
      ]
    %}
    <div class="icon_group cn_fonts">
      {% for item in items %}
      <div class="icon_box col-md-4">
        <img src="{{ item.url }}" alt="{{ item.alt }}">
        <div class="icon_text">
          <p>{{ item.text1 }}</p><p>{{ item.text2 }}</p><p>—</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>


  <div class="container cn_fonts">
    <div class="intro">
      <div class="achievements">
        <div class="picSide">
          <img src="./images/创新1.png" alt="创新工作室">
        </div>
        <div class="textSide">实践公益新想法<br>探索公益新领域</div>
        <div class="picSide">
          <img src="./images/创新2.png" alt="创新工作室">
        </div>
      </div>

      <div class="achievements">
        <div class="picSide">
          <img src="./images/电传1.png" alt="电脑传爱">
        </div>
        <div class="picSide">
          <img src="./images/电传2.png" alt="电脑传爱">
        </div>
        <div class="textSide">互联网+科技+公益</div>
      </div>

      <div class="achievements">
        <div class="textSide">梦想<br>是给孩子最好的礼物</div>
        <div class="picSide">
          <img src="./images/梦课1.png" alt="梦想课堂">
        </div>
        <div class="picSide">
          <img src="./images/梦课2.png" alt="梦想课堂">
        </div>
      </div>

      <div class="achievements">
        <div class="picSide">
          <img src="./images/周支1.png" alt="周末支教">
        </div>
        <div class="textSide">用周末不长的时间<br>做一生难忘的事情</div>
        <div class="picSide">
          <img src="./images/周支2.png" alt="周末支教">
        </div>
      </div>
    </div>
  </div>

  <!--<div class="middle">-->
    <!--<div class="middle_text">-->
      <!--<span class="en_fonts" id="quot">”</span> <br>-->
      <!--<div class="cn_fonts">-->
        <!--2006年，协会由主要来自2006年中美暑期支教实践活动的支队长发起，在清华大学扶贫办公室大力支持与帮助下，成立了最初的 <br>-->
        <!--教育扶贫志愿者协会。<br>-->
        <!--之后，在学校社团部注册时，正式更名为清华大学学生教育扶贫公益协会，<br>-->
        <!--<span class="en_fonts">"Student Association of Educational Poverty Alleviation" —— SAEPA</span>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="md_next">-->
    <!--<div class="container">-->
      <!--<div class="col-md-6 en_fonts">-->
        <!--<div id="saepa">SAEPA</div>-->
        <!--<div id="saepaer">SAEPAER</div>-->
      <!--</div>-->
      <!--<div class="col-md-6"></div>-->
    <!--</div>-->
  <!--</div>-->



{% endblock %}

{% block scripts %}
  <!-- build:js scripts/index.js -->
    <script src="scripts/navbar.js"></script>
    <script src="scripts/jumbotron.js"></script>
    <script src="scripts/nivo.js"></script>
    <script src="scripts/index.js"></script>
    <script src="scripts/stretchy-nav.js"></script>
  <!-- endbuild -->
{% endblock %}
