{% extends 'base.html' %}

{% block title %}SAEPA - MOOC{% endblock %}

{% block styles %}
<!-- build:css styles/mooc.css -->
<link rel="stylesheet" href="styles/navbar.css">
<link rel="stylesheet" href="styles/stretchy-nav.css">
<link rel="stylesheet" href="styles/mooc.css">
<!-- endbuild -->
{% endblock %}

{% block content %}
<header>
  {% include 'navbar.html' %}
</header>

<div class="container">
  {% include 'stretchy-nav.html' %}
</div>

{% endblock %}

{% block scripts %}
<!-- build:js scripts/mooc.js -->
<script src="scripts/navbar.js"></script>
<script src="scripts/stretchy-nav.js"></script>
<script src="scripts/mooc.js"></script>
<!-- endbuild -->
{% endblock %}
