{% set items = [
  {path: 'index.html', text: '主页'},
  {path: 'projects.html', text: '项目介绍'},
  {path: 'mooc.html', text: 'MOOC'},
  {path: 'http://ixuefang.cn/', text: '学方论坛'},
  {path: 'contactus.html', text: '联系我们'}]
%}

<nav>
  <div id="nav_left_box"></div>
  <div class="logo">
    <img src="./images/协会logo.jpg">
  </div>
  <ul>
    <input class="nav_toggle" type="checkbox" name="toggle" id="toggle">
    <li class="nav_toggle"><label for="toggle" class="nav_icon"></label></li>
    {% for item in items %}
      <li class="point">&middot;</li>
      {% if loop.index0 === 3 %}
        <li class="normal"><a href="{{ item.path }}" target="_blank">{{ item.text }}</a></li>
      {% elseif loop.index0 === index %}
        <li class="normal active"><a href="{{ item.path }}">{{ item.text }}</a></li>
      {% else %}
        <li class="normal"><a href="{{ item.path }}">{{ item.text }}</a></li>
      {% endif %}
    {% endfor %}
    <li class="point">&middot;</li>
  </ul>
  <div id="nav_right_img">
    <img src="./images/协会logo.jpg" alt="SAEPA Logo">
  </div>
</nav>
